/* Styles from head tag*/

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
.w3-row-padding img {
  margin-bottom: 12px;
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px !important;
  background: #222 !important;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 120px;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-row-column-1 {
  flex: 80%;
}
.flex-row-column-2 {
  flex: auto;
}

.arrow-button:hover {
  color: aqua;
}

.arrow-button {
  color: teal;
  font-size: 5rem;
  padding: 0;
}

/* Styles from head tag done*/

.carousel-container {
  padding-bottom: "30px";
  margin-bottom: 30px;
  position: "relative";
}

.carousel-card {
  background-color: rgb(29, 28, 28);
  margin: 5px;
  border-radius: 5%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-description {
  margin-bottom: 5px;
  height: 300px;
  min-height: fit-content;
}

.carousel-description-small {
  margin-bottom: 5px;
  min-height: fit-content;
}

.react-multi-carousel-dot-list {
  position: relative !important;
}

/* GIT links flex - w3 is missing flex */
.flex-container-git-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-panel-git-logo {
  flex: 25%;
}
.flex-panel-git-links {
  flex: 75%;
  flex-basis: 600px;
}
.tab-hover:hover {
  background-color: #15b3a0;
  border-bottom: 2px solid #15b3a0;
  transition-duration: 0.3s;
  color: white;
}

/* .tab-hover:not(:hover) {
  transition-duration: 0.3s;
} */

.selected-tab {
  border-bottom: 2px solid #15b3a0;
  color: #15b3a0;
}

.non-selected-tab {
  color: white;
  background-color: black;
}

.tab-style {
  background-color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 2px;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgb(0, 0, 0, 0.7) !important;
}
